.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #f8fafc;
    overflow: hidden;
}

.layout__body {
    display: flex;
    flex: 1;
    height: calc(100vh - 70px);
    overflow: hidden;
}

@media (max-width: 768px) {
    .layout__body {
        flex-direction: column;
    }
}